body{
    font-family: sans-serif;
    color: #1e1e1e;
    background-color: #f5f5f5;
}

body p{
    font-size: 18px;
    line-height: 1.2em;
}

header{
    max-width: 760px;
    margin: auto;
    padding: 20px;
    text-align: center;
}

.idea-menu{
    display: inline-block;
    margin: 10px;
    font-weight: 600;
}

.idea-menu a{
    display: inline-block;
    margin-right: 10px;
}

.hero,
.idea-login,
.ideas-feed,
.idea-form,
.idea-search-bar,
.idea-create-an-account,
.ideas-empty{
    margin: 20px auto;
    max-width: 800px;
}

.hero{
    text-align: center;
}


#idea-search-bar-input{
    width: 100%;
    padding: 10px;
    border: 1px solid #c3c3c3;
    border-radius: 10px;
}


.idea-create-an-account{
    text-align: center;
}





.ideas-feed{
    text-align: left;
    border-radius: 10px;
    padding: 50px;
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.idea{
    border-radius: 5px;
    border: 1px solid #c3c3c3;
    background-color: white;
    padding: 20px;
    flex-grow: 1;
    flex-basis: 100%;/* calc(30% - 10px);  33.333% para 3 elementos en una fila, ajusta según tus necesidades */

}


.idea-form{
    margin: 0px auto;
    width: 760px;
    padding: 20px;
    background-color: white;
    border:1px solid #c3c3c3;
    border-radius: 10px;
    }

    .idea-form h3{
        margin: 10px;
    }

  
    .idea-form input,
    .idea-form textarea{
        width: 90%;
        display: block;
        border-radius: 10px;
        border: 1px solid #c3c3c3;
        padding: 10px;
        background-color: white;
        margin: 10px;
    }
  
    .idea-form button{
      background-color: white;
      border: 1px solid #c3c3c3;
      border-radius: 10px;
      padding: 10px 50px;
      margin: 10px;
      width: 50%;
      cursor: pointer;
    }

    .idea-form button:hover{
        background-color: #989898;
    }

a,
a:visited{
    color: #1e1e1e;
    text-decoration: underline;
}