{% extends 'app/base.html' %}


{% block content %}
<div class="hero">
    <h1>my ideas</h1>
    <p>
      Estas son las ideas que he creado y/o votado.
    </p>
  </div>

<h2 style="text-align: center;">Ideas i suggest</h2>
<div class="ideas-feed">
{% for idea in created_ideas %}

    <div class="idea">
        <span class="idea-votes">{{idea.votes}}</span>
        <h3 class="idea-title">{{idea.title}}</h3>
        <p class="idea-description">{{idea.description}}</p>
        {% if request.user.is_authenticated %}
            {% if idea.user_already_vote %}
            <a href="{% url 'unvote-idea' idea.pk %}">Quitar voto.</a>
            {% else %}
                <a href="{% url 'vote-idea' idea.pk %}">Votar esta idea.</a>
            {% endif %}
        {% else %}
        <a href="{% url 'login' %}">Login</a> / <a href="{% url 'register' %}">Register</a>
        {% endif %}
       
    </div>
{% endfor %}
</div>

<h2 style="text-align: center;">Ideas i voted</h2>
<div class="ideas-feed">
{% for idea in participated_ideas %}

    <div class="idea">
        <span class="idea-votes">{{idea.votes}}</span>
        <h3 class="idea-title">{{idea.title}}</h3>
        <p class="idea-description">{{idea.description}}</p>
        {% if request.user.is_authenticated %}
            {% if idea.user_already_vote %}
            <a href="{% url 'unvote-idea' idea.pk %}">Quitar voto.</a>
            {% else %}
                <a href="{% url 'vote-idea' idea.pk %}">Votar esta idea.</a>
            {% endif %}
        {% else %}
        <a href="{% url 'login' %}">Login</a> / <a href="{% url 'register' %}">Register</a>
        {% endif %}
       
    </div>
{% endfor %}
</div>

{% include 'app/components/ideas_form.html' %}

</div>



{% endblock %}
