{% extends 'app/base.html' %} {% block content %}
<div class="hero">
  <h1>apps & services</h1>
  {% if not request.user.is_authenticated %}
  <p>
    Esta app permite a los usuarios proponer ideas de mejora y nuevas
    funcionalidades y que otros usuarios puedan votar estar ideas. De esta
    manera los desarroladores pueden priorizar el desarrollo de estas. Puedes
    usar este plugin de multiples maneras, aunque la idea con la que fue
    desarrollada fue la de proporcionar a los usuarios proponer ideas y mejoras.
    Este paquete de django ha sido desarrollado por
    <a target="blank" href="https://github.com/zft9xgy/suggest-an-idea"
      >zft9xgy</a
    >
    y es open-source.
  </p>
  {% endif %}
</div>

<div class="apps-feed">
  {% if apps %} {% for app in apps %}
  <div class="app">
    <h2>
      <a href="{% url 'detail' app.id %}">{{app.title}}</a>
    </h2>
    <p>{{app.description}}</p>
    <p>
      Created: {{app.created|date:'Y-m-d \a\t H:i'}}. Last updated:
      {{app.updated|date:'Y-m-d \a\t H:i'}} Posted by: {{app.creator}}
    </p>
    <p>Ideas count: {{app.ideas.count}}</p>
  </div>
  {% endfor %} {% else %}
  <div class="apps-empty">
    <p>No hay apps que mostrar</p>
  </div>
  {% endif %} {% include 'app/components/apps_form.html' %} {% endblock %}
</div>
